$color-primary: #de6262;
$color-secondary: #ffb88c;
$color-white: #fff;
$color-grey: #777;
$default-font-size: 1.6rem;
$color-grey-light: #f7f7f7;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$color-black: #000;
$color-card-back--1: #f12711;
$color-card-back--2: #f5af19;
$color-card-back--3: #00b4db;
$color-card-back--4: #0083b0;
$color-form-invalid: #dc143c;
$color-form-valid:    #3CB371;
$color-grey-dark:#242526;
$gutter-vertical-small:6rem;