.u__text-center{
    text-align: center !important; 
}
.u__margin-bottom--small{
    
    margin-bottom: 2rem !important ;
}
.u__margin-bottom--medium{
    margin-bottom: 4rem !important;
}

.u__margin-bottom--big{

    margin-bottom: 8rem !important;
}
.u__textcolor--white{
    color: white;
}
.skewback--3deg{
    transform: skewY(3deg);
}
.u__margin-bottom--huge{
    margin-top: 10rem !important;
}
.u__margin-top--huge{
    margin-top: 8rem !important;
}

.u__margin-top--small{
    margin-top: 4rem !important;
}

